/* .card {
    border-style: solid;
    border-color: black;
    width: 18rem;
    box-shadow: 10px 5px 5px gray;
    border-radius: 0.5rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
} */


.eventSpace-CardList-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  align-items: center;
}

.eventSpace-CardList-card-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2 rem;
}

img{
  border: 1px solid #d6d6d6;
  padding: 2px;
  position: relative;
  height: 80%;
  margin: auto;
  width: 500px;
}