.form-container {
  background-color: #061652bd;
  border-radius: 20px;
  text-align: center;
  height: 370px;
  width: 320px;
  margin: auto;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-text,
.input-number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  background-color: white;
  border: none;
  margin-bottom: 15px;
}

.submit-button,
.cancel-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button,
.cancel-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #100224bd;
  font-size: 15px;
  background-color: rgb(255, 249, 249);
  color: #100224bd;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 249, 249);
  box-shadow: 0 0 25px rgb(255, 249, 249);
  text-shadow: 0 0 10px rgb(255, 249, 249);
  border: 2px solid rgb(255, 249, 249);
}

