.signUpForm {
    background-color: #061652bd;
    border-radius: 20px;
    text-align: center;
    height: 460px;
    width: 320px;
    margin: auto;
    padding: 36px;
    color: white;
  }
  .signupheader{
    font-family: "Space Grotesk", sans-serif;
    font-size: xx-large;
    padding-bottom: 10px;
    color: rgb(255, 249, 249);
  }
  .signupInput {
    background: #10022433;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-size: 18px;
    color: white;
  }
  .confirmpassword {
    margin-bottom: 25px;
  }
  .submitFormButton {
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 30px;
    transition: 1s;
    background-color: rgb(255, 249, 249);
    padding: 10px 15px;
    font-weight: 700;
    color: #100224bd;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
  .submitFormButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 249, 249);
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  .submitFormButton:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(255, 249, 249);
  }
  .submitFormButton:hover {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 249, 249);
    box-shadow: 0 0 25px rgb(255, 249, 249);
    text-shadow: 0 0 10px rgb(255, 249, 249);
    border: 2px solid rgb(255, 249, 249);
  }